<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple | {{ title }}</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <!-- navbar -->

    <div class="navbar">
      <div class="ip">
        <img src="/image/Button_Icon.svg" alt="" srcset="" class="green-icon" />
        {{ ip }}
      </div>
      <div class="button-holder">
        <a class="button-nav" href="/players">button</a>
      </div>
    </div>

    <!-- main content -->

    <div class="container">
      <a class="mini-game-button" href="/mini-games">Mini Games</a>

      <a class="chat-button">Chat</a>

      <a class="about-button">About</a>
    </div>
  </body>
</html>
