<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple express app</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <!-- navbar -->

    <div class="navbar">
      <div class="ip">
        <img src="/image/Button_Icon.svg" alt="" srcset="" class="green-icon" />
        192.168.1.13
      </div>
      <div class="button-holder">
        <div class="button-nav">button</div>
      </div>
    </div>

    <!-- main content -->

    <div class="container">
      <button class="mini-game-button">Mini Games</button>

      <button class="chat-button">Chat</button>

      <button class="about-button">About</button>
    </div>
  </body>
</html>
