<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple http | {{ title }}</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <!-- navbar -->

    <div class="navbar">
      <div class="ip">
        <img src="/image/Button_Icon.svg" alt="" srcset="" class="green-icon" />
        {{ ip }}
      </div>
      <div class="button-holder">
        <a class="button-nav" href="/">Home</a>
      </div>
    </div>

    <div class="players-container">{{ips}}</div>
    <script defer>
      // const div = document.querySelector(".players-container");
      // let divs = [];
      // console.log(typeof({{ips}}));
      // ips.forEach((element) => {
      //   divs.push(`<div> ${element} </div>`);
      // });
      // div.innerHTML = divs;
    </script>
  </body>
</html>
